@using ImageShare.Data
@model ImageShare.Web.Models.LikesViewModel

<h1>Likes for @Model.User.FirstName @Model.User.LastName</h1>

@if (Model.Images.Count() == 0)
{
    <h4>@Model.User.FirstName @Model.User.LastName didn't like any images yet</h4>
}
else
{
    <table class="table table-bordered">
        <tr>
            <th>Image</th>
            <th>Posted By</th>
            <th>View Count</th>
            <th>Likes</th>
            <th>Date Uploaded</th>
        </tr>
        @foreach (Image image in Model.Images)
        {
            <tr>
                <td><img src="/images/@image.FileName" style="height: 100px" /></td>
                <td>@image.FirstName @image.LastName</td>
                <td>@image.ViewCount</td>
                <td>@image.Likes</td>
                <td>@image.DateUploaded.ToShortDateString()</td>
            </tr>
        }
    </table>
}

<a class="btn btn-default" href="/home/index">Return to Main</a>